.form-input {
    width: 445px;
}

.senha {
    display: inline-block;
    margin: 0 40px 0 0;
}

.senha-inp {
    width: 200px;
}

.div-button {
    margin: 20px 0 0 0;
}

.botao1 {
    margin: 0 30px 0 0;
    background-color: #0000CD;
}

.icone-perfil {
    width: 49px;
    height: 45px;
}

.h1-cads {
    color: #0000CD;
}

hr {
    width: 445px;
}

.campo1 {
    margin: 128px 0 0 0;
}
